
<div class="row-fluid">
    <div class="span6">
        <div class="marker left">
            <i class="sprites-marker-green active"><i class="cat_icon-hotel"></i></i>
        </div>
        <div class="meta pl50 mb10">
            <h4 class="fz17 mb0">Кинотеатр Prada 3D</h4>
            <p class="grayLight fz13">
                <span class="type">Театр</span><br>
                <a href="#" class="address grayLight">ул. Ясная, 2 (ТРЦ Фан-Фан)</a>
            </p>
            <a href="#" class="btn-orange">Подробнее</a>
            <a href="#" class="btn-orange">Акции</a>
        </div>
        <div class="splitter"></div>
    </div>
    <div class="span6">
        <div class="item-description mt10 pb10">
            <div class="left">
                <img src="holder.js/75x60">
            </div>
            <p class="fz13 pl90">
                Кинотеатр Прада — это: 4 зала; уникальные по конструкции кресла для комфорта посетителей: амортизирующие сидения и спинка.; широкие проходы между
            </p>
            <br class="clear clearfix">
        </div>
    </div>
</div>