<div class="row-fluid">
    <div class="span12">
        <h3>Вход на сайт</h3>
        <div class="splitter"></div>

        <form class="form-horizontal_full">
          <div class="control-group">
            <label class="control-label" for="inputEmail">E-mail:</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Пароль:</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password">
              <a href="/popup_change_pass/" class="fancybox fz13">Напомнить пароль</a>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-default">Войти</button>
            </div>
          </div>
        </form>
    </div>
</div>