<div class="row-fluid">
    <div class="span12">
        <h3>Редактирование — <a href="#">Кинотеатр Prada 3D</a></h3>

        <div class="splitter"></div>

        <form class="mb10">
            <div class="form-horizontal_full">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Категория:</label>

                    <div class="controls">
                        <select class="chosen">
                            <option>Кафе</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Имя на карте:</label>

                    <div class="controls">
                        <input type="text" id="inputEmail" value="Кинотеатр Prada 3D">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Полное имя:</label>

                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="" value="Кинотеатр Prada 3D">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputEmail">Адрес:</label>

                    <div class="controls">
                        <input type="text" id="inputEmail" value="ул. Ясная, 2 (ТРЦ Фан-Фан)">
                        <span class="help-block fz11 grayLight">Пример: ул. Ясная, 2</span>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-vertical_full">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Описание на карте:</label>

                    <div class="controls">
                        <textarea>Кинотеатр Прада — это: 4 зала; уникальные по конструкции кресла. для комфорта
                            посетителей: амортизирующие сидения и спинка; широкие проходы между</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Полное описание:</label>

                    <div class="controls">
                        <textarea rows="7">Кинотеатр Прада — это: 4 зала; уникальные по конструкции кресла для комфорта
                            посетителей: амортизирующие сидения и спинка; широкие проходы между</textarea>
                    </div>
                </div>
            </div>
            <br>

            <h4>Фото объекта:</h4>

            <div class="thumb">
                <ul>
                    <li>
                        <span class="shadow">
                            <a class="white remove"><i class="icon-remove"></i></a>
                            <a href="#"><img src="holder.js/100x80"></a>
                        </span>
                        <br>
                        <a href="#" class="black td-dotted fz11">Сделать главной</a>
                    </li>
                    <li>
                        <span class="shadow">
                            <a class="white remove"><i class="icon-remove"></i></a>
                            <a href="#"><img src="holder.js/100x80"></a>
                        </span><br>
                        <span class="orange fz11">Главное фото</span>
                    </li>
                    <li>
                        <a href="#" class="add-photo shadow">
                            <span class="upload-bg">
                                <span class="upload-link">Загрузить<br>фото</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <br>

            <div class="control-group">
                <div class="controls">
                    <a href="/popup_add_action/" type="submit" class="fancybox btn btn-default mr20">Сохранить</a>
                    <a href="#" class="grayLight fz15"> Удалить объект</a>
                </div>
            </div>
        </form>
    </div>
</div>