<div class="row-fluid">
    <div class="span12">
        <h3>Вход на сайт</h3>
        <div class="splitter"></div>

        <form class="form-horizontal_full">
          <div class="control-group">
            <label class="control-label" for="inputEmail">E-mail:</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email" value="ivanov_1965@mail.ru">

                <div class="mt5">
                    <span class="alert-marker alert-marker-success"><i class="icon-ok white"></i></span>
                    На ваш e-mail отправлино письмо с новым паролем
                </div>
                <div class="mt5">
                    <span class="alert-marker alert-marker-error"><i class="icon-remove white"></i></span>
                    Ошибка
                </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-default mr20">Напомнить</button>
                <a href="#" class="grayLight fz15">Вернуться</a>
            </div>
          </div>
        </form>
    </div>
</div>