<div class="row-fluid">
    <div class="span12">
        <div class="add_object-steps">
            <ul>
                <li class=" last">
                    <span class="num">1</span> Регистрация
                </li>
                <li class=" last">
                    <span class="num">2</span> Добавить объект
                </li>
                <li class="active">
                    <span class="num">3</span> Добавить акции
                </li>
            </ul>
        </div>
        <div class="splitter"></div>

        <h3>Акция 1</h3>

        <form class="mb10">
            <div class="form-horizontal_full">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Категория:</label>

                    <div class="controls">
                        <select class="chosen">
                            <option>Кафе</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Название:</label>

                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="">
                    </div>
                </div>
                <br>

                <div class="control-group">
                    <label class="control-label" for="inputEmail">Начнётся:</label>

                    <div class="controls">
                        <span style="position: relative;">
                            <i class="icon-calendar orange icon-append"></i>
                            <input type="text" id="" placeholder="" holder="10.02.2013" style="width:61%; margin-right: 2%;">
                        </span>
                        <input type="text" id="" placeholder="10" style="width:15%;"> :
                        <input type="text" id="" placeholder="30" style="width:15%;">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="checkbox-has-complite">
                        <input type="checkbox" id="checkbox-has-complite" > Закончится:
                    </label>

                    <div class="controls" id="has-complite" style="position: relative;">
                        <span style="position: relative;">
                            <i class="icon-calendar orange icon-append"></i>
                            <input type="text" id="" placeholder="" holder="10.02.2013" style="width:61%; margin-right: 2%;">
                        </span>
                        <input type="text" id="" placeholder="10" style="width:15%;"> :
                        <input type="text" id="" placeholder="30" style="width:15%;">
                    </div>
                </div>
            </div>
            <br>

            <div class="form-vertical_full">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Краткое карте:</label>

                    <div class="controls">
                        <textarea></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Полное описание:</label>

                    <div class="controls">
                        <textarea rows="7"></textarea>
                    </div>
                </div>
            </div>
            <br>

            <h4>Фото объекта:</h4>

            <div class="thumb">
                <ul>
                    <li>
                    <span class="shadow">
                        <a class="white remove"><i class="icon-remove"></i></a>
                        <a href="#"><img src="holder.js/100x80"></a>
                    </span>
                        <br>
                        <a href="#" class="black td-dotted fz11">Сделать главной</a>
                    </li>
                    <li>
                    <span class="shadow">
                        <a href="#"><img src="holder.js/100x80"></a>
                    </span><br>
                        <span class="orange fz11">Главное фото</span>
                    </li>
                    <li><a href="#" class="add-photo shadow">
                    <span class="upload-bg">
                        <span class="upload-link">Загрузить<br>фото</span>
                    </span>
                    </a></li>
                </ul>
            </div>
            <div class="mb20">
                <a href="/popup_add_action/" class="btn-gray fancybox">
                    <i class="icon-white icon-plus"></i> Добавить еще акцию
                </a>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>