// отступы v1.1

.p-large { padding:@paddingLarge;}
.p-small { padding:@paddingSmall;}
.p-mini  { padding:@paddingMini;}


@iterations: 20;
.loopingClass (@index) when (@index > -1) {
    .cascade(@i) {
        (~".p@{i}") { padding: ~"@{i}px"; }
        (~".pl@{i}") { padding-left: ~"@{i}px"; }
        (~".pr@{i}") { padding-right: ~"@{i}px"; }
        (~".pt@{i}") { padding-top: ~"@{i}px"; }
        (~".pb@{i}") { padding-bottom: ~"@{i}px"; }

        (~".m@{i}") { margin: ~"@{i}px"; }
        (~".ml@{i}") { margin-left: ~"@{i}px"; }
        (~".mr@{i}") { margin-right: ~"@{i}px"; }
        (~".mt@{i}") { margin-top: ~"@{i}px"; }
        (~".mb@{i}") { margin-bottom: ~"@{i}px"; }
    }
    .cascade(@index * 5);
	.loopingClass(@index - 1);
}
.loopingClass (@iterations);
