<!DOCTYPE html>
<html>
<head>
    <title>главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  откомпиленый LESS  -->
    <link rel="stylesheet" type="text/css" href="/static/modules/fancyapps/jquery.fancybox.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen">

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://yandex.st/jquery/1.7.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="/static/lib/jquery-1.8.3.js"><\/script>');</script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=true&language=en"></script>

    <script src="/static/lib/holder.js"></script>
    <script src="/static/modules/fancyapps/js/jquery.fancybox.pack.js"></script>

    <script src="/static/modules/chosen/js/chosen.jquery.min.js"></script>
    <script src="/static/modules/chosen/js/chosen.jquery.min.js"></script>

    <script src="/static/js/bootstrap/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap/bootstrap-tab.js"></script>
    <!--
    <script src="/static/js/bootstrap/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap/bootstrap-typeahead.js"></script>
    <script src="/static/js/bootstrap/bootstrap-affix.js"></script>
    -->
    <script src="/static/js/project.js"></script>
</head>
<body>

    <div class="active-sone wrapper">
        <div class="container wrapper-padding">

            <header>
                <div id="header">
                    <div class="row">
                        <div class="span12">
                            <span class="logo">
                                <a href="/"><img src="/static/img/logo.png" class="mt20"></a>
                            </span>
                            <span class="submenu">
                                <span class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Меню
                                        <b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li><a href="http://ya.ru/">Мои объекты</a></li>
                                        <li><a href="http://google.ru/">Меню</a></li>
                                        <li><a href="#">Меню</a></li>
                                    </ul>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </header>

            <div id="content">
            {% block container %}
                {% block content %}
                    holder.js/140x140
                {% endblock %}
            {% endblock %}
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="mb10 mt10">
                        <img src="/static/img/logo.png">
                    </div>
                    <div class="splitter"></div>
                    <div class="lh-large gray">
                        <span>
                            Телефон: 8 (343) 980-01-23
                        </span>
                        <ul class="inline ml15">
                            <li class="inline mr5"><a href="#"><i class="sprites-social-twitter"></i></a></li>
                            <li class="inline mr5"><a href="#"><i class="sprites-social-vimeo"></i></a></li>
                            <li class="inline mr5"><a href="#"><i class="sprites-social-youtube"></i></a></li>
                        </ul>
                        <br>
                        Email: <a href="#">info@makethetour.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>