{% extends '__base.html' %}
{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h1>Список файлов</h1>
                <ul>
                    {% with files=node.files %}
                        {% include '__list_item.html'  %}
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}