{% extends '__base.html' %}
{% block content %}
<ul>
    <li><a href="/popup_registration/" class="fancybox">Регистрация</a></li>
    <li><a href="/popup_add_object/" class="fancybox">Добавление объекта на карте</a></li>
    <li><a href="/popup_add_object_data/" class="fancybox">Добавление данных объекта</a></li>
    <li><a href="/popup_add_action/" class="fancybox">Добавление акции</a></li>
    <li><a href="/popup_edit_object/" class="fancybox">Редактирование объекта</a></li>
    <li><a href="/popup_login/" class="fancybox">Вход на сайт</a></li>
    <li><a href="/popup_change_pass/" class="fancybox">Вход на сайт - напоминание пароля</a></li>
    <li><a href="/popup_item/" class="fancybox">Объект</a></li>
    <li><a href="/popup_item_map/" class="fancybox">Объект на карте</a></li>
</ul>
{% endblock %}