{% extends '__base.html' %}
{% block content %}
    <div class="row">
        <div class="span12">
            <br>
            <a href="#" class="td-box-norm black right pt5">
                <span>Выход</span> х
            </a>
            <ul class="mtt-tabs">
                <li><a href="#action">Мои объекты</a></li>
                <li class="active"><a href="#celebration">Настройки</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Настройки</h3>
            <div class="splitter"></div>

            <form class="form-horizontal_full">
              <div class="control-group">
                <label class="control-label" for="inputEmail">E-mail:</label>
                <div class="controls">
                  <input type="text" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPassword">Пароль:</label>
                <div class="controls">
                  <input type="password" id="inputPassword" placeholder="Password">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
              </div>
            </form>
        </div>
    </div>
{% endblock %}