{% extends '__base.html' %}
{% block content %}
    <div class="row">
        <div class="span12">
            <br>
            <a href="#" class="td-box-norm black right pt5">
                <span>Выход</span> х
            </a>
            <ul class="mtt-tabs">
                <li class="active"><a href="#action">Мои объекты</a></li>
                <li><a href="#celebration">Настройки</a></li>
            </ul>

            <h3>Список акций</h3>
            <div class="object-item">
                <div class="marker left">
                    <i class="sprites-marker-orange active"><i class="cat_icon-restaurant"></i></i>
                </div>
                <div class="meta pl40 mb10">
                    <h4 class="fz17 mb0">Кинотеатр Prada 3D</h4>
                    <p class="grayLight fz13">
                        <a href="/item_map/" class="fancybox address grayLight">ул. Ясная, 2 (ТРЦ Фан-Фан)</a>
                    </p>
                </div>
                <div class="splitter"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <a class="btn-orange" href="#">
                <i class="icon-white icon-plus"></i>
                Добавить новую акцию
            </a>
            <h3 class="mb0">Действующие</h3>
            <div class="action-item mb20">
                <div class="fz14 opacity50">
                    <i class="icon icon-time"></i> 5 апреля
                </div>
                <a href="#">
                    Ужин для двоих или компании в ресторане «Петергоф»
                </a><br>

                <a href="#" class="btn-gray fz11">
                    Изменить
                </a>
                <a href="#" class="btn-gray fz11">
                    В архив
                </a>
            </div>
            <div class="action-item mb20">
                <div class="fz14 opacity50">
                    <i class="icon icon-time"></i> 5 апреля
                </div>
                <a href="#">
                    Ужин для двоих или компании в ресторане «Петергоф»
                </a><br>

                <a href="#" class="btn-gray fz11">
                    Изменить
                </a>
                <a href="#" class="btn-gray fz11">
                    В архив
                </a>
            </div>
            <div class="action-item mb20">
                <div class="fz14 opacity50">
                    <i class="icon icon-time"></i> 5 апреля
                </div>
                <a href="#">
                    Ужин для двоих или компании в ресторане «Петергоф»
                </a><br>

                <a href="#" class="btn-gray fz11">
                    Изменить
                </a>
                <a href="#" class="btn-gray fz11">
                    В архив
                </a>
            </div>


            <h3 class="mb0">В архиве</h3>
            <div class="action-item mb20">
                <div class="fz14 opacity50">
                    <i class="icon icon-time"></i> 5 апреля
                </div>
                <a href="#" class="grayLight">
                    Ужин для двоих или компании в ресторане «Петергоф»
                </a><br>

                <a href="#" class="btn-gray fz11">
                    Изменить
                </a>
                <a href="#" class="btn-gray fz11">
                    В архив
                </a>
            </div>
        </div>
    </div>
{% endblock %}