{% extends '__base.html' %}
{% block content %}
    <div class="row">
        <div class="span12">
            <br>
            <a href="#" class="td-box-norm black right pt5">
                <span>Выход</span> х
            </a>
            <ul class="mtt-tabs">
                <li class="active"><a href="#action">Мои объекты</a></li>
                <li><a href="#celebration">Настройки</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <em class="fz16">г. Москва</em>
            <div class="splitter"></div>

            <div class="object-item">
                <div class="marker left">
                    <i class="sprites-marker-orange active"><i class="cat_icon-restaurant"></i></i>
                </div>
                <div class="meta pl50 mb10">
                    <h4 class="fz17 mb0">Кинотеатр Prada 3D</h4>
                    <p class="grayLight fz13">
                        <a href="/item_map/" class="fancybox address grayLight">ул. Ясная, 2 (ТРЦ Фан-Фан)</a>
                    </p>
                    <a class="btn-gray" href="#">Изменить</a>
                    <a class="btn-gray" href="#">Добавить акцию</a>
                </div>
                <br class="clear">
            </div>
            <div class="object-item">
                <div class="marker left">
                    <i class="sprites-marker-orange active"><i class="cat_icon-restaurant"></i></i>
                </div>
                <div class="meta pl50 mb10">
                    <h4 class="fz17 mb0">Кинотеатр Prada 3D</h4>
                    <p class="grayLight fz13">
                        <a href="/item_map/" class="fancybox address grayLight">ул. Ясная, 2 (ТРЦ Фан-Фан)</a>
                    </p>
                    <a class="btn-gray" href="#">Изменить</a>
                    <a class="btn-gray" href="#">Добавить акцию</a>
                </div>
                <br class="clear">
            </div>


            <em class="fz16">г. Екатеринбург</em>
            <div class="splitter"></div>

            <div class="object-item">
                <div class="marker left">
                    <i class="sprites-marker-orange active"><i class="cat_icon-restaurant"></i></i>
                </div>
                <div class="meta pl50 mb10">
                    <h4 class="fz17 mb0">Кинотеатр Prada 3D</h4>
                    <p class="grayLight fz13">
                        <a href="/item_map/" class="fancybox address grayLight">ул. Ясная, 2 (ТРЦ Фан-Фан)</a>
                    </p>
                    <a class="btn-gray" href="#">Изменить</a>
                    <a class="btn-gray" href="#">Акции</a>
                </div>
                <br class="clear">
            </div>



        </div>
    </div>
{% endblock %}