{% extends '__base.html' %}
{% block content %}
    <div class="row">
        <div class="span12">
            <div class="search-panel">
                <div class="search-panel__inner">
                    <input placeholder="Искать места" class="search-input" type="text">
                </div>
                <button class="btn-search">
                    НАЙТИ
                </button>
            </div>
            <div class="google-map mb10">
                <!-- iframe width="100%" height="275" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3,+%D0%A1%D0%B2%D0%B5%D1%80%D0%B4%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F&amp;aq=0&amp;oq=%D0%B5%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8&amp;sll=37.09024,-98.261719&amp;sspn=76.03037,64.863281&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3,+%D0%A1%D0%B2%D0%B5%D1%80%D0%B4%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F&amp;ll=56.837524,60.603272&amp;spn=0.1062,0.126686&amp;t=m&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe -->
                <script type="text/javascript">
                    $(document).ready(function(){
                        google.maps.event.addDomListener(window, 'load', initialize);
                    })
                </script>
                <div id="map-canvas" style="height: 300px; width: 100%;"></div>
            </div>

            <div class="categories">
                <h3 class="visible-desktop">Укажите категории</h3>

                <ul>
                    <li class="active" data-value="1" data-name="checkbox_name">
                        <span>
                            <a href="#">
                                <i class="cat_icon-hotel"></i> Отель
                            </a>
                        </span>
                    </li>
                    <li data-value="2" data-name="checkbox_name">
                        <span>
                            <a href="#">
                                <i class="cat_icon-museum"></i> Музей
                            </a>
                        </span>
                    </li>
                    <li data-value="3" data-name="checkbox_name">
                        <span>
                            <a href="#">
                                <i class="cat_icon-restaurant"></i> Ресторан
                            </a>
                        </span>
                    </li>
                    <li class="active" data-value="4" data-name="checkbox_name">
                        <span>
                            <a href="#">
                                <i class="cat_icon-concert"></i> Концерт
                            </a>
                        </span>
                    </li>
                    <li class="active" data-value="1" data-name="checkbox_name">
                        <span>
                            <a href="#">
                                <i class="cat_icon-cafe"></i> Кафе, бар
                            </a>
                        </span>
                    </li>
                    <li data-value="5" data-name="checkbox_name">
                        <span>
                            <a href="#">
                                <i class="cat_icon-other"></i> Разное
                            </a>
                        </span>
                    </li>
                    <li data-value="6" data-name="checkbox_name">
                        <span>
                            <a href="#">
                                <i class="cat_icon-theater"></i> Театр
                            </a>
                        </span>
                    </li>
                </ul>
                <br class="clear">
            </div>
            <div class="mb20">
                <a href="/popup_add_object/" class="btn-gray fancybox">
                    <i class="icon-white icon-plus"></i> Добавить объекты
                </a>
            </div>
            <div class="splitter"></div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <ul class="mtt-tabs">
                <li class="active"><a href="#action" data-toggle="tab">Акции</a></li>
                <li><a href="#celebration" data-toggle="tab">Городские праздники</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="action">
                    <div class="action-item mb10">
                        <div class="fz14 opacity50">
                            <i class="icon icon-time"></i> 5 апреля
                        </div>
                        <a href="#">
                            Ужин для двоих или компании в ресторане «Петергоф»
                        </a>
                    </div>
                    <div class="action-item mb10">
                        <div class="fz14 opacity50">
                            <i class="icon icon-time"></i> 5 апреля
                        </div>
                        <a href="#">
                            Салат «Греческий», шашлык из индейки и другое.
                        </a>
                    </div>
                    <div class="action-item mb10">
                        <div class="fz14 opacity50">
                            <i class="icon icon-time"></i> 5 апреля
                        </div>
                        <a href="#">
                            4 человек в кафе «Царская трапеза»
                        </a>
                    </div>
                    <div class="mb10">
                        <a href="#" class="btn-gray">
                            Смотреть все
                        </a>
                    </div>
                </div>
                <div class="tab-pane" id="celebration">
                    <div class="action-item mb10">
                        <div class="fz14 opacity50">
                            <i class="icon icon-time"></i> 5 апреля
                        </div>
                        <a href="#">
                            Ужин для двоих или компании в ресторане «Петергоф»
                        </a>
                    </div>
                    <div class="action-item mb10">
                        <div class="fz14 opacity50">
                            <i class="icon icon-time"></i> 5 апреля
                        </div>
                        <a href="#">
                            Салат «Греческий», шашлык из индейки и другое.
                        </a>
                    </div>
                    <div class="action-item mb10">
                        <div class="fz14 opacity50">
                            <i class="icon icon-time"></i> 5 апреля
                        </div>
                        <a href="#">
                            4 человек в кафе «Царская трапеза»
                        </a>
                    </div>
                    <div class="mb10">
                        <a href="#" class="btn-gray">
                            Смотреть все праздники Екатеринбурга
                        </a>
                    </div>
                </div>
            </div>
            <div class="splitter visible-phone"></div>
        </div>
        <div class="span6">

            <div class="mb10 mr10">
                <a href="#">
                    <!-- img src="holder.js/930x420" class="img-polaroid"-->
                    <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" class="img-polaroid">
                </a>
            </div>
            <p>
                Вы не потеряетесь в незнакомом городе.
            </p>
            <p>
                Мы всегда подскажем, где и как лучше провести свое время
            </p>
            <div class="mb20">
                <a href="#" class="btn-gray">
                    Подробнее о сервисе
                </a>
            </div>

        </div>
    </div>
{% endblock %}