{% extends '__base.html' %}
{% block content %}
    <div class="row">
        <div class="span12">
            <div class="top-orange-block"></div>
            <div class="marker left">
                <i class="sprites-marker-green active"><i class="cat_icon-hotel"></i></i>
            </div>
            <div class="meta pl50 mb10">
                <h4 class="fz17 mb0">Кинотеатр Prada 3D</h4>
                <p class="grayLight fz13">
                    <span class="type">Театр</span><br>
                    <a href="/popup_item_map/" class="fancybox address grayLight">ул. Ясная, 2 (ТРЦ Фан-Фан)</a>
                </p>
            </div>
        </div>
    </div>
    <div class="splitter"></div>
    <div class="row">
        <div class="span6">
            <h3>Все акции</h3>
            <div class="action-item mb10">
                <div class="fz14 opacity50">
                    <i class="icon icon-time"></i> 5 апреля
                </div>
                <a href="#">
                    Ужин для двоих или компании в ресторане «Петергоф»
                </a>
            </div>
            <div class="action-item mb10">
                <div class="fz14 opacity50">
                    <i class="icon icon-time"></i> 5 апреля
                </div>
                <a href="#">
                    Салат «Греческий», шашлык из индейки и другое.
                </a>
            </div>
            <div class="action-item mb10">
                <div class="fz14 opacity50">
                    <i class="icon icon-time"></i> 5 апреля
                </div>
                <a href="#">
                    4 человек в кафе «Царская трапеза»
                </a>
            </div>
            <div class="action-item mb10">
                <div class="fz14 opacity50">
                    <i class="icon icon-time"></i> 5 апреля
                </div>
                <a href="#">
                    Ужин для двоих или компании в ресторане «Петергоф»
                </a>
            </div>
            <div class="action-item mb10">
                <div class="fz14 opacity50">
                    <i class="icon icon-time"></i> 5 апреля
                </div>
                <a href="#">
                    Салат «Греческий», шашлык из индейки и другое.
                </a>
            </div>
            <div class="action-item mb10">
                <div class="fz14 opacity50">
                    <i class="icon icon-time"></i> 5 апреля
                </div>
                <a href="#">
                    4 человек в кафе «Царская трапеза»
                </a>
            </div>
            <br>
        </div>
    </div>
{% endblock %}