<div class="row-fluid">
    <div class="span12">
        <div class="add_object-steps">
            <ul>
                <li class=" active">
                    <span class="num">1</span> Регистрация
                </li>
                <li class=" ">
                    <span class="num">2</span> Добавить объект
                </li>
                <li class="">
                    <span class="num">3</span> Добавить акции
                </li>
            </ul>
        </div>
        <div class="splitter"></div>

        <form class="form-horizontal_full mb10">
          <div class="control-group">
            <label class="control-label" for="inputEmail">E-mail:</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Пароль:</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <a href="/popup_add_object_data/" class="fancybox btn btn-default">Зарегистрироваться</a>
            </div>
          </div>
        </form>
    </div>
</div>