<h4>
    Добавить объект
</h4>

<div class="splitter"></div>

<div class="map-placeholder">
    <!-- Херотень, в которой болтается маркер и кнопушки -->
    <div class="add_object-popover" style="margin: 80px 0 0 150px;">
        <div class="add_object-popover__inner ">

            <i class="sprites-marker-green active"></i>

            <ul>
                <li><a href="/popup_registration/" class="fancybox">Продолжить</a></li>
                <li><a href="#" class="grayLight td-dotted">Удалить</a></li>
            </ul>

        </div>
    </div>
</div>